<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="/css/bootstrap.css" />

<title>Comissão Valetão</title>
</head>
<body>

	<div layout:fragment="content">
	<h4>Fechamentos</h4>
	
	<div class="form-inline">
		<input type="radio" value="dtreferencia" id="dtreferencia" name="tipo"/> Data Referência
		&nbsp;&nbsp;&nbsp;
		<input type="radio" value="dtfechamento" id="dtfechamento" name="tipo"/> Data Fechamento
		&nbsp;&nbsp;&nbsp;
		<input type="text" class="form-control input-date" id="data" name="data" placeholder="Data"/>
		&nbsp;&nbsp;
		<input type="button" class="btn btn-primary" value="Filtrar" id="filtrafechamento" />
	</div>
	<div id="resultadofechamentos"></div>
	<script src="/js/bootstrap-datepicker.js"></script>
		
		<script type="text/javascript">
		
		  $('.input-date').datepicker({
	    	language: "pt-BR",
	    	format: "dd/mm/yyyy",
	    	autoclose: true,
	    	todayHighlight: true
	    });
		
		
		
	    </script>	
		
	</div>
	
	
</body>
</html>