<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<title>Comissão Valetão</title>
</head>
<body>

	<div layout:fragment="content">
		<h4>Comissão</h4>
		<div class="form-group">
			<label for="representante"> Representante/Funcionário </label> <input
				type="text" class="form-control" name="representante"
				id="representante" placeholder="Digite aqui o Nome..." />
		</div>
		<div id="autocompleterepresentante"></div>
		<div id="resultadofiltrorepfunc"></div>
		<!-- calendario -->
		<div id="resultadotabela"></div>

	</div>


</body>
</html>