<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="template">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
 href="css/bootstrap.css" />
<title>Relatorios</title>
</head>
<body>

	<div layout:fragment="content">
	<form name="form" action="processarelatorio" method="POST">
		<br/>
		<div class="form-group">
		
			Selecione a Empresa
			<select name="cdempresa">
				<option th:each="empresa : ${empresas}" th:text="${empresa.nmempresa}"
				th:value="${empresa.cdempresa}"
				></option>
			</select>	
		</div>
		<div class="form-group">
			Tipo
				<div class="input-group">
      				
      	 			<span class="input-group-addon">
      	 			<input type="radio" value="fat" name="tipo"  />
        				Faturamento
      				</span>
      				<span class="input-group-addon">
      				<input type="radio" value="prod" name="tipo"/>
        				Produção
      				</span>
      				<span class="input-group-addon">
      				<input type="radio" value="ger" name="tipo" />
        				Geral
      				</span>
      	</div>			
      	</div>
      	
      		Selecione o periodo:
      		<input type="text" class="form-control input-date" id="datainicio" name="datainicio" placeholder="Data Inicial"/>
      		<input type="text" class="form-control input-date" id="datafim" name="datafim" placeholder="Data Final"/>
      		<div>
      		Filtro
				<div class="input-group">
      				
      	 			<span class="input-group-addon">
      	 			<input type="radio" value="fproduto" name="filtro" />
        				Produto
      				</span>
      				<span class="input-group-addon">
      				<input type="radio" value="fgrupo" name="filtro" />
        				Grupo
      				</span>
      				<span class="input-group-addon">
      				<input type="radio" value="ffamilia" name="filtro" />
        				Familia
      				</span>
      			</div>
      			<br/>
      			<button class="btn btn-primary" type="button" id="btfiltro"
      			data-toggle="modal" data-target="#myModal">Filtrar</button>	
      			<button class="btn btn-primary" type="button" id="geraRelatorio"
      			>Gerar Relatório</button>	
      			<div id="resultadoFiltro">Dados Filtrados: </div>
      	</div>
      	</form>
      			<script src="js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="js/bootstrap-datepicker.pt-BR.js"></script>
		<script type="text/javascript">
		
		  $('.input-date').datepicker({
	    	language: "pt-BR",
	    	format: "dd/mm/yyyy",
	    	autoclose: true,
	    	todayHighlight: true
	    });
		  
	    </script>
	   
		</div>
		

	
</body>
</html>